<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-offset-1 col-md-offset-2">
      <form #loginform="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginform)" >
      <div formGroupName="userData">
      <div class="form-group">
        <label for="username">User Name</label>
        <input
        type="text"
        id="username"
        [(ngModel)]="username"
        formControlName="username"
        class="form-control">
        <span
        *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched"
        class="help-block">Please enter valid email</span>
      </div>{{username}}
      <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control">
        <span
        *ngIf="!loginForm.get('userData.password').valid && loginForm.get('userData.password').touched"
        class="help-block">Please enter valid password</span>
      </div>
      </div>
      <p>{{error}}</p>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
      
    </form>
    </div>
  </div>
</div>
